html,
body,
#react-root {
  height: 100%;
}

* {
  font-family: 'Audiowide' !important;
}

body {
  background-color: rgba(187, 171, 220, 1);
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #2200fc;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: rgba(68, 21, 170, 1);
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn:hover {
  background-color: #8646d4;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #6207d2;
  color: #6207d2;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 500px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color:rgba(230, 222, 246, 0.953);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  text-align: center;
  margin: 5px;
  background-color: white;
  margin-bottom: 10px;
  border:rgb(114, 113, 113);
  border-color: rgb(114, 113, 113);
  border-style: groove;
}

label {
  color:rgba(68, 21, 170, 1);
}

.submit-btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #2200fc;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: rgba(68, 21, 170, 1);
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}
