footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 80px;
  padding: 20px;
  text-align: center;
  color: gray;
  background-color: rgba(187, 171, 220, 1);
  font-family: 'Audiowide' !important;
}
