* {
  font-family: 'Audiowide' !important;
}

.navLink {
  display: inline-block;
  background-color: rgba(68, 21, 170, 1);
  color: #f2f2f2;
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color:#945dd8;
}

.nav {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* .IconButton {
  display: flex !important;
  align-items: flex-start;
} */